* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 최소 높이 */
    height: 100vh;
}

.calculator {
    border: 1px solid #333;
    background-color: #ccc;
    padding: 5px;
    /* 왼쪽 테두리 1px + 왼쪽 패딩 1px + 버튼 65px + 그리드갭 5px + 버튼 65px + 그리드갭 5px + 버튼 65px + 그리드갭 5px + 버튼 65px + 오른쪽 패딩 5px + 오른쪽 테두리 */
    width: 287px;
}

.calculator form {
    display: grid;
    /* 4열 65px */
    grid-template-columns: repeat(4, 65px);
    /* 행의 높이도 65px */
    grid-auto-rows: 65px;
    /* 버튼 사이의 간격 5px */
    grid-gap: 5px;
}

.calculator form input {
    border: 2px solid #333;
    cursor: pointer;
    background-color: white;
    font-size: 19px;
}

.calculator form input:hover {
    box-shadow: 1px 1px 2px #333;
}

.calculator form .clear {
    grid-column: span 3;
    background-color: lightcoral;
}

.calculator form .operator {
    background-color: lightpink;
}

.calculator form .dot {
    background-color: lightsalmon;
}


.calculator form input[type="text"] {
    grid-column: span 4;
    text-align: right;
    padding: 0 10px;
}

.calculator form .result {
    grid-column: span 2;
}

