
.icon-mail:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
